*{
    list-style: none;
    padding:0;
    margin:0;
    text-decoration: none;
    font-family: "苹方";
    font-size: 12px;
    box-sizing: border-box;
}
h1{
    font-size: 56px;
}
.header{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1080;
    margin:0 auto;
    padding: 0;
    background: #fff;
}

.header>ul {
    width: 85%;
    padding: 17px 60px;
    display: flex;
    justify-content: space-between;
    height: 26px;
    line-height: 26px;
    margin:0 auto;
}
header>ul a{
    color:#000;
    font-size: 16px;
}
header>ul a img{
    position: relative;
    top:-6px;
}
header>ul li:nth-child(6) a{
    color: #e25e90;
}
/*内容*/
.content{
    width: 100%;
    background: url("../img/bg-image-1.jpg") no-repeat -500px 0;
    height: 500px;
    margin-top: 60px;
}
.content h1{
    color:#fff;
    text-align: center;
    padding-top: 240px;
    font-size: 40px;
}
.content h1 p{
    font-size: 24px;
    display: inline-block;
}
.content h1 p:last-child>a{
    color:#fff;
}
.content h1 p>a{
    font-size: 24px;
    color:#D1B989;
}
.content h1 span{
    font-size: 18px;
}
/*内容*/
.first{
    padding: 60px 0;
}
.first .row>div>div{
    padding:0 15px;
    width: 100%;

}
.first .row>div>div ul li{
    margin-bottom: 30px;

}
.first .row>div>div ul li>img{
    display: block;
    width: 100%;
    height: 480px;
}
.first .row>div>div ul li .dise{
    padding: 35px 35px 50px 30px;
    background-color: #f2f3f8;
}
.first .row>div>div ul li>div>p{
    font-size: 24px;
}
.first .row>div>div ul li>div .ul-list li{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 25px;
}
.first .row>div>div ul li>div div{
    font-size: 14px;
}
.full-btn {
    display: block;
    width: 150px;
    padding: 11px 45px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    background-color: #7d5d8b;
    font-weight: 700;
    transition: .33s all ease;
    white-space: normal;
    cursor: pointer;
    margin-top:30px;
    color:#fff;
    text-align: center;
    visibility: visible;
}
.first .row>div>div h4{
    margin-bottom: 20px;
    font-size: 20px;
}
.input{
    padding: 0px;
    overflow: hidden;
}
.input input{
    display: block;
    float: left;
    outline: none;
    border: none;
    height: 50px;
}
.input input:first-child{
    width: 250px;
    background: #f2f3f8;
    padding: 0 15px;
}
.input input:nth-child(2){
    width: 50px;
    background: #e25e90;
}
.first .row>div>div ul li>div ul li>span{
    padding-left:15px;

}
.tag{
    overflow: hidden;
}
.tag li{
    margin-top: 5px;
    margin-right: 5px;
    float: left;
    font-size: 16px;
    padding: 0 .9em;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    background-color: #7d5d8b;
}
.col-4{

    height: 150px;
    margin-bottom: 30px;
}
.col-4 h5{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.col-4 img{
    height: 100%;
    display: block;
    float: left;
}
.col-4>div{
    float: left;
    padding: 35px 35px 50px 30px;
    background-color: #f2f3f8;
    height: 100%;

}
.col-4 ul{
    display: flex;
    justify-content: space-around;
}
.col-4 ul li{
    display: inline-block;

}
    /*底部*/
.page-footer {
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: left;
    color: #6c6c6c;
    background-color: #2c2c2c;
}
.page-footer .divider + * {
    margin-top: 20px;
}
.page-footer a {
    color: #6c6c6c;
}
.link-underline {
    text-decoration: underline;
}
.range {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.page-footer .list {
    color: #6c6c6c;
}
.form-wrap {
    position: relative;
}
.page-footer__heading + * {
    margin-top: 20px;
}
.form-validation {
    position: absolute;
    right: 4px;
    top: 1px;
    z-index: 11;
    margin-top: 2px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    color: #d9534f;
    transition: .3s;
}
.form-input {
    display: block;
    width: 100%;
    padding: 13px 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #9b9b9b;
    background-color: #f5f5f5;
    border-radius: 0;
    -webkit-appearance: none;
    transition: .3s ease-in-out;
    border: none;
}
.form-label-custom {
    color: #9b9b9b;
    padding-right: 65px;
}
.form-label {
    position: absolute;
    top: 24px;
    left: 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    pointer-events: none;
    z-index: 9;
    transition: .25s;
    will-change: transform;
    transform: translateY(-50%);
}
.form-label, .form-label-outside {
    margin-bottom: 0;
    font-weight: 400;
    color: #9b9b9b;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.page-footer__heading{
    font-size: 24px;
    color:#fff;
}
.page-footer .divider {
    margin-top: 45px;
    width: 100%;
    border-top: 1px solid #3c3c3c;
}
.form-validation {
    position: absolute;
    right: 4px;
    top: 1px;
    z-index: 11;
    margin-top: 2px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    color: #d9534f;
    transition: .3s;
}
.rd-mailform-newsletter .form-button .button.button-primary {
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #fff;
}
.rd-mailform {
    position: relative;
    text-align: left;
}
.form-button{
    position: absolute;
    right: 0;
    top:0;
    background: #e25e90;
}
.rd-mailform .button{
    display: block;
    background: #e25e90;
    width: 100px;
    height: 50px;
    outline: none;
    line-height: 50px;
    color:#fff;
}
.list li a{
    font-size: 14px;
}
.list1 li a{
    color:#fff;
}