
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1495962613841'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1495962613841#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1495962613841') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1495962613841') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1495962613841#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shouji:before { content: "\e625"; }

.youjiantou:before { content: "\e62f"; font-size:20px;}

.icon-ditu:before { content: "\e608"; }

.icon-charge:before { content: "\e62b"; }

.icon-yiyuangou:before { content: "\e61f"; }

.xing:before { content: "\e60a"; }

.baoyou:before { content: "\e600"; }

.jiantou:before { content: "\e613"; }

.right:before { content: "\e609"; font-size:28px;}

.left:before { content: "\e639"; font-size:28px;}

.yijiu:before { content: "\e602"; }

.jts:before { content: "\e606"; font-size: 50px;
  color: #ff6700;}

.duobao:before { content: "\e627"; }

.icon-iconjiudianzhuanqu29:before { content: "\e769"; }

.icon-7tian:before { content: "\e612"; }

.icon-shipinbofangyingpian2:before { content: "\e78e"; }

.huafei:before { content: "\e60f"; }

.icon-huodong:before { content: "\e61b"; }

.icon-15tianmianfeihuanhuo24px:before { content: "\e605"; }

.icon-banshou:before { content: "\e659"; }

.sousuo:before { content: "\e601"; font-size:14px;}

.zuojt:before { content: "\e64a"; }

.youjt:before { content: "\e64b"; }

.bofang:before { content: "\e68e"; font-size: 32px;}

